version: '3.7'
services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    privileged: true
    network_mode: host

    environment:
      - TZ=Europe/Lisbon
    
    volumes:
      - /home/ohbarata/homeassistant_config:/config
      - /run/dbus:/run/dbus:ro


      
